@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 95px;
    background-color: white;
    inset-inline: 0;
    z-index: 999;
    gap: 20px;
    align-items: center;
    min-height: 100vh;
}


#singlePost{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.comments{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.block{
    display: block;
}